# Jekyll Build
_site/
.sass-cache/
.jekyll-cache/

# Bundler
.bundle/

# Jekyll metadata file
.jekyll-metadata

# macOS system files
.DS_Store

# Node.js and package manager
node_modules/

# IDE configurations
.idea/

# Dependencies (exclude if using CI/CD tools or GitHub Pages to handle dependencies)
Gemfile.lock
